<!--Template for Calculating-->

{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main %}

<h2> Calculate How Much You Could've Saved! </h2>
<div class="container-fluid">
    <form action="/" method="post" class="needs-validation" novalidate>

        <div class="form-group">
            <select name="make" class="form-control" id="validationCustom04" required>
                <option disabled="" value="" selected="">Make</option>
                {% for name in make %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>

            <select name="model" class="form-control" id="validationCustom04" required>
                <option disabled="" value="" selected="">Model</option>
                {% for name in model %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            <select name="year" class="form-control" id="validationCustom04" required>
                <option disabled="" value="" selected="">Year</option>
                {% for name in year %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">

            <div id="accordion">
                <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    id="headingOne" style="color:white;">Input Miles</a>
                <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                    id="headingTwo" style="color:white;">Input Locations</a>
                <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                    id="headingThree" style="color:white;">Auto GPS</a>
                <div class="form-group" style="margin-top:1rem;">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <input class="form-control" name="miles" id="validationCustom04" placeholder="Miles Travelled" type="text" required>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <input class="form-control" name="start" id="validationCustom04" placeholder="Start Location" type="text" required>
                        <input class="form-control" name="end" id="validationCustom04" placeholder="End Location" type="text" required>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        To Be Implemented
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" name="price" id="validationCustom04" placeholder="Price Per Gal" type="text" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Calculate</button>
        </div>

    </form>
</div>


<script>
    // var make_select = document.getElementById("make");
    // var model_select = document.getElementById("model");
    // var year_select = document.getElementById("year");

    // make_select.onchange = function () {

    //     make = make_select.value;
    //     console.log(make)

    //     fetch('/' + make).then(function (response) {
    //         response.json().then(function (data) {
    //             var optionHTML = '';
    //             for (var model of data.model) {
    //                 optionHTML += '<option value="' + model[0] + '">' + model[1] + '</option>';
    //             }
    //             model_select.innerHTML = optionHTML;
    //         })

    //     });
    // }


    // model_select.onclick = function () {
    //     // console.log('hello')

    //     // model = model_select.value;
    //     // // console.log(make)
    //     // console.log(model)

    //     // fetch('/' + model).then(function (response) {
    //     //     response.json().then(function (data) {
    //     //         var optionHTML = '';
    //     //         for (var year of data.year) {
    //     //             optionHTML += '<option value="' + year[0] + '">' + year[1] + '</option>';
    //     //         }
    //     //         year_select.innerHTML = optionHTML;
    //     //     })

    //     // });
    // }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}